:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  min-height: 100svh;
  background-color: #111;
  color: #aaa;
  display: grid;
  grid-gap: 2rem;
  place-content: center;
}

body>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.square {
  padding: 1rem;
  border: 1px outset #aaa;
  border-radius: 1rem;
  text-align: center;
  justify-items: center;
  height: 3.5rem;
  width: 3.5rem;
  font-weight: bold;
  cursor: default;
}

.square.is-selected{
  background-color: #09f;
  color: black;
}

.gameBoard {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3,1fr);
}

.turns {
  display: flex;
  justify-content: space-around;
}

.gameBoard .square:not(.is-winner):hover {
  background-color: #333;
  cursor: pointer;
}

.reset-button {
  padding: 0.5rem;
  background-color: #333;
  color: inherit;
  border-radius: 0.5rem;
  font-weight: bold;
}

.is-winner {
  background-color: #4A4;
}

.winner-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 4rem;
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2rem;
  gap: 2rem;
  padding: 3rem;
  background-color: #333;
}